{% extends 'base.html' %}

{% set release_group = review.release_group | release_group_details %}
{% set rg_title = release_group.title | default(_('[Unknown release group]')) %}

{% block title %}{{ _('Report %(user)s\'s review of "%(rg)s"', rg=rg_title, user=review.user.display_name) }} - CritiqueBrainz{% endblock %}

{% block content %}
  <h2>{{ _('Report %(user)s\'s review of "%(rg)s"', rg=rg_title, user=review.user.display_name) }}</h2>
  <hr />

  {% for field in form.errors %}
    {% for error in form.errors[field] %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endfor %}

  <div class="row">
    <div class="col-md-7">
      <form method="POST" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <div>{{ form.reason(class="form-control", required="required", placeholder=_('Please provide a description of the violation (required)')) }}</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{ _('Report review') }}</button>
          <a href="{{ request.referrer or url_for('.entity', id=review.id) }}" class="btn btn-default">{{ _('Cancel') }}</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
