{% extends 'base.html' %}

{% set release_group = review.release_group | release_group_details %}

{% block title %}
  {% set release_group_title = release_group.title | default(_('[Unknown release group]')) %}
  {{ _('Revisions of Review of "%(rg)s" by %(user)s', rg=release_group_title, user=review.user.display_name) }} - CritiqueBrainz
{% endblock %}

{% block content %}
  <h2 id="title">
    {% if release_group %}
      {% set rg_name = '<a href="%s">'|safe % url_for('release_group.entity', id=review.release_group) ~ release_group.title ~ '</a>'|safe %}
    {% else %}
      {% set rg_name =  _('[Unknown release group]') %}
    {% endif %}

    {% if release_group['artist-credit'] %}
      {% set artist = [] %}
      {% for credit in release_group['artist-credit'] %}
        {% if credit.artist %}
          {% do artist.append('<a href="%s">'|safe % url_for('artist.entity', id=credit.artist.id) + credit.artist.name + '</a>'|safe) %}
        {% else %}
          {% do artist.append(credit) %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% set artist = _('[Unknown artist]') %}
    {% endif %}

    {{ _('%(album)s by %(artist)s', album = rg_name, artist = artist|join()) }}

    {% if release_group['first-release-date'] %}
      <small>{{ release_group['first-release-date'][:4] }}</small>
    {% endif %}
  </h2>

  <h3> {{ _('Revisions of Review by %(user)s', user = ('<img class="avatar" src="%s&s=24" /> '|safe % review.user.avatar)
  + ('<a href="%s">'|safe % url_for('user.reviews', user_id=review.user.id)) + review.user.display_name + '</a>'|safe) }} </h3>

  <div style="margin-top: 50px;">
    <form id="review-compare" action="{{ url_for('review.compare', id=review.id) }}" method="GET">
      <table class="table table-hover">
        <thead>
        <tr>
          <th></th>
          <th>{{ _('Created on') }}</th>
          <th>{{ _('Votes (+/-)') }}</th>
          {% if count > 1 %}
            <th><button id="btn-compare" class="btn btn-info btn-xs">{{ _('Compare') }}</button></th>
          {% endif %}
        </tr>
        </thead>
        <tbody id="results">{% include 'review/revision_results.html' %}</tbody>
      </table>
      {% if count > limit %}
        <button id="more-button" type="button" class="btn btn-primary" onclick="load_more();" >{{ _('Load older revisions') }}</button>
        <span id="loading-message" class="text-muted" style="display:none;">{{ _('Loading older revisions...') }}</span>
      {% endif %}
    </form>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $("input[name=new]:nth(0)").attr('checked', true);
      $("input[name=old]:nth(1)").attr('checked', true);

      $("#btn-compare").click(function(event){
        var old_val = $('input[name=old]:checked').val();
        var new_val = $('input[name=new]:checked').val();
        if (old_val == new_val) {
          alert({{ _("Select two different revisions.") | tojson }});
          event.preventDefault();
        } else {
          $("#review-compare").submit();
        }
      });

      {% if count > limit %}
        var current_page = 0;
        function load_more() {
          var more_button = $("#more-button");
          var loading_message = $("#loading-message");
          more_button.hide();
          loading_message.show();
          $.ajax({
            url: "{{ url_for('review.revisions_more', id=review.id) }}",
            data: { page: ++current_page }
          })
          .done(function(data) {
            loading_message.hide();
            $("#results").append(data.results);
            if (data.more === true) more_button.show();
          })
          .fail(function() {
            alert({{ _('Failed to load older revisions!') | tojson }});
          });
        }
      {% endif %}
    });
  </script>
{% endblock %}
