{% extends 'review/modify.html' %}

{% block title %}{{ _('Write review of "%(rg)s"', rg=release_group.title) }} - CritiqueBrainz{% endblock %}

{% block header %}
  <h2>{{ _('Write review') }}</h2>
{% endblock %}

{% block license_agreement_input %}
  <div class="form-group">
    <div class="col-sm-12">
      <div class="checkbox">
        <label id="agreement">
          {{ form.agreement }}
          {{ _('You acknowledge and agree that your contributed reviews to CritiqueBrainz are licensed under a
          Creative Commons Attribution-ShareAlike 3.0 Unported or Creative Commons Attribution-ShareAlike-NonCommercial
          license as per your choice above. You agree to license your work under this license.
          You represent and warrant that you own or control all rights in and to the work, that nothing in the work
          infringes the rights of any third-party, and that you have the permission to use and to license the work
          under the selected Creative Commons license. Finally, you give the MetaBrainz Foundation permission to license
          this content for commercial use outside of Creative Commons licenses in order to support the operations of the organization.') }}
        </label>
      </div>
    </div>
  </div>
{% endblock %}

{% block buttons %}
  <button id="btn-publish" class="btn btn-primary">{{ _('Publish') }}</button>
  <button id="btn-draft" class="btn btn-default">{{ _('Save draft') }}</button>
{% endblock %}
