{% for report in results %}
  {% set release_group = report.review.release_group | release_group_details %}
  <tr>
    <td>{{ report.reported_at | date }}</td>
    <td><a href="{{ url_for('user.info', user_id=report.user.id) }}">{{ report.user.display_name }}</a></td>
    <td>{{ report.reason }}</td>
    <td>
      {{ release_group.title | default(_('[Unknown release group]')) }}
      by
      {{ release_group['artist-credit-phrase'] | default(_('[Unknown artist]')) }}
    </td>
    <td><a href="{{ url_for('user.info', user_id=report.review.user.id) }}">{{ report.review.user.display_name }}</a></td>
    <td>
      {#
        TODO: Link the read revision buttons, needs the revisions-ui branch gets merged.

        We'll need a method to convert revision ids like 8092 to a id that can be passed
        to the review.revision view.

        We could even add a new view /revision/{revision_id} that redirects to
        /review/revision/{revision_number}
      #}
      <div class="btn-group">
        <a href="{{ url_for('review.entity', id=report.review.id) }}"
           class="btn btn-xs btn-info">Read</a>
      </div>
    </td>
  </tr>
{% endfor %}
