{% extends 'base.html' %}

{% block title %}{{ _('Recent reports') }} - CritiqueBrainz{% endblock %}

{% block content %}
  <h2 id="title">{{ _('Recent reports') }}</h2>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>{{ _('Reported on') }}</th>
      <th>{{ _('Reported by') }}</th>
      <th>{{ _('Reason') }}</th>
      <th>{{ _('Review') }}</th>
      <th>{{ _('Author') }}</th>
      <th>{{ _('Quick actions') }}</th>
    </tr>
    </thead>
    <tbody id="results">{% include 'reports/reports_results.html' %}</tbody>
  </table>
  {% if count > limit %}
    <div>
      <button id="more-button" type="button" class="btn btn-primary"
              onclick="load_more();" >{{ _('Load older reports') }}</button>
      <span id="loading-message" class="text-muted"
            style="display:none;">{{ _('Loading older reports...') }}</span>
    </div>
  {% endif %}
{% endblock %}

{% if count > limit %}
  {% block scripts %}
    {{ super() }}
    <script>
      var current_page = 0;
      function load_more() {
        var more_button = $("#more-button");
        var loading_message = $("#loading-message");
        more_button.hide();
        loading_message.show();
        $.ajax({
          url: "{{ url_for('reports.more') }}",
          data: { page: ++current_page }
        })
        .done(function(data) {
          loading_message.hide();
          $("#results").append(data.results);
          if (data.more === true) more_button.show();
        })
        .fail(function() {
          alert({{ _('Failed to load older reports!') | tojson }});
        });
      }
    </script>
  {% endblock %}
{% endif %}
