<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cb-navbar-collapse">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="{{ url_for('frontend.index') }}">
        <img src="{{ url_for('static', filename='img/navbar_logo.svg') }}" alt="CritiqueBrainz" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="cb-navbar-collapse">
      <ul class="nav navbar-nav">
        {% if not error %} {# Not showing this stuff on error pages. If attempt to load user info fails there, page will not render. #}
          {% if not current_user or current_user.is_anonymous() %}
            <li><a href="{{ url_for('login.index') }}">{{ _('Sign in') }}</a></li>
          {% else %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ current_user.display_name }} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('user.reviews', user_id=current_user.id) }}">{{ _('Profile') }}</a></li>
                <li><a href="{{ url_for('profile_applications.index') }}">{{ _('Applications') }}</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('login.logout') }}">{{ _('Sign out') }}</a></li>
              </ul>
            </li>
          {% endif %}
        {% endif %}
        <li><a href="{{ url_for('review.browse') }}">{{ _('Browse reviews') }}</a></li>
        <li><a href="{{ url_for('review.create') }}">{{ _('Write a review') }}</a></li>
        <li class="hidden-md"><a href="{{ url_for('frontend.about') }}">{{ _('About') }}</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search" method="GET" action="{{ url_for('search.index') }}">
        <div class="form-group">
          <input type="text" name="query" class="form-control input-sm" placeholder="{{ _('Search') }}">
        </div>
        <div class="form-group">
          <select id="type-selector" name="type" class="form-control input-sm">
            <option value="artist">{{ _('Artist') }}</option>
            <option value="release-group">{{ _('Release group') }}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default input-sm"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
  </div>
</nav>
